body{
    background: #e7eaf6;
}
h1{
    font-weight: bolder;
}

input{
    padding:9px;
}

p{
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
}


button{
    border: none;
    width: 80px;
    border-radius: 5px;
    padding: 7px;
    font-size: 20px;
    font-weight: bolder;
    background: #38598b;
    color: #e7eaf6;
}